# Ignore Build Artifacts
target/

release.properties
buildNumber.properties

# Ignore Maven Artifacts
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

# Ignore IntelliJ Artifacts
.idea

# Ignore Eclipse Artifacts
.project
.classpath

# Ignore VS Code Artifacts
.vscode/